*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style-type: none
}
a, a:hover{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}
/* ====== Navbar Section Style Start ====== */
.navbar{
    padding: 20px 0;
}
.navbar-nav{
    gap: 57px;
}
.navbar-nav .nav-item .nav-link{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    transition: all linear 0.3s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #124C5F;
}
.nav_actions{
    display: flex;
    align-items: center;
    gap: 14px;
}
.btn{
    padding: 20px 44px;
    background: #124C5F;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-flex !important;
    align-items: center;
    column-gap: 10px;
    transition: all linear 0.3s;
}

.btn:hover{
    background: #C7E7E1;
    color: #124C5F;
}
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
#banner{
    padding: 215px 0;
    height: 100vh;
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_Content{
    margin-left: 76px;
}
.banner_Content h1{
    width: 422px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 5%;
    color: #000000;
}
.banner_Content h1 span{
    display: block;
}
.banner_Content p{
    width: 396px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 138%;
    letter-spacing: 5%;
    color: #181817;
    margin-top: 36px;
    margin-bottom: 49px;
}
.banner_Content .btn{
    display: inline-flex;
    align-items: center;
    gap: 13px;
}
/* ====== Banner Section Style End ====== */

/* ====== Services Section Style Start ====== */
#services{
    padding: 20px 0;
}
.services_title h3{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 52.5px;
    position: relative;
}
.services_title h3::after{
    position: absolute;
    content: "";
    bottom: -13px;
    left: 0;
    width: 117px;
    height: 4px;
    background: #3A8DA8;
}
.services_card_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services_card{
    width: 200px;
    height: 225px;
    border: 1px solid #98F2E1;
    border-radius: 25px;
    padding: 53px 21px 37px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgb(249, 255, 254), rgba(255, 255, 255, 0));
    transition: all linear 0.3s;
}
.services_card img{
    object-fit: cover;
    margin-bottom: 16.5px;
}
.services_card p{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    display: block;
}
.services_card:hover{
    border: 1px solid #FFEE94;
    background: linear-gradient(to bottom, #FFFAE0, rgba(255, 255, 255, 0));
}
/* ====== Services Section Style End ====== */

/* ====== About Section Style Start ====== */
#about{
    padding: 80px 0;
}
.about_Content{
    margin-top: 41px;
    margin-left: 130px;
    position: relative;
}
.about_Content h4{
    width: 511px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 5%;
    color: #000000;
}
.about_Content p{
    width: 525px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 138%;
    letter-spacing: 5%;
    color: #4E4C46;
    margin-top: 30px;
    margin-bottom: 50px;
}
.about_Content img{
    position: absolute;
    top: -120px;
    right: 0;
    width: 93px;
    height: 92px;
}
/* ====== About Section Style End ====== */

/* ====== Products Section Style Start ====== */
#products{
    padding: 60px 0;
}
.products_title .subtitle{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    position: relative;
}
.products_title .subtitle::after{
    position: absolute;
    content: "";
    bottom: -13px;
    left: 0;
    width: 117px;
    height: 4px;
    background: #3A8DA8;
}
.offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;
}
.offer h3{
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}
.offer h3 span{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}
.product_content{
    padding: 20px 30px;
}
.product_content h4{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
.product_content p{
    width: 280px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #979697;
    margin-top: 5px;
    margin-bottom: 25px;
}
.product_content .buy{
    padding: 10px 46px 16px;
    background: transparent;
    border: 2px solid #124C5F;
    border-radius: 6px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    color: #124C5F;
    transition: all linear 0.3s;
}
.product_content .buy:hover{
    border: 2px solid transparent;
    background: #124C5F;
    color: #FFFFFF;
}
/* ====== Products Section Style End ====== */

/* ====== Explore Section Style Strat ====== */
#explore{
    background: linear-gradient(to bottom, #F6FFFD, rgba(251, 251, 251, 0));
}
.explore_Content h3{
    width: 490px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    color: #000000;
}
.explore_Content p{
    width: 533px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.38;
    letter-spacing: 5%;
    color: #4E4C46;
    margin-top: 34px;
    margin-bottom: 55px;
}
/* ====== Explore Section Style End ====== */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Pangolin", cursive; */
/* font-family: "Rubik", sans-serif; */