*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style-type: none
}
a, a:hover{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}