*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style-type: none
}
a, a:hover{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}
/* ====== Navbar Section Style Start ====== */
.navbar{
    padding: 20px 0;
}
.navbar-nav{
    gap: 57px;
}
.navbar-nav .nav-item .nav-link{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    transition: all linear 0.3s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #124C5F;
}
.nav_actions{
    display: flex;
    align-items: center;
    gap: 14px;
}
.btn{
    padding: 20px 44px;
    background: #124C5F;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all linear 0.3s;
}

.btn:hover{
    background: #C7E7E1;
    color: #124C5F;
}
/* ====== Navbar Section Style End ====== */

/* ====== Navbar Section Style Start ====== */
#banner{
    padding: 200px 0;
    height: 100vh;
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_Content h1{
    width: 422px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 5%;
    color: #000000;
}
.banner_Content p{
    width: 396px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 138%;
    letter-spacing: 5%;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 49px;
}
.banner_Content .btn{
    display: inline-flex;
    align-items: center;
    gap: 13px;
}
/* ====== Navbar Section Style End ====== */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Pangolin", cursive; */
/* font-family: "Rubik", sans-serif; */